/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --green: rgba(62, 243, 107, 0.872);
}

#game div {
  border: 1px solid black;
  width: 15%;
  height: 200px;
  margin: 10px;
  display: inline-block;
}

.red.flipped {
  background-color: red;
}

.blue.flipped {
  background-color: blue;
}

.green.flipped {
  background-color: green;
}

.orange.flipped {
  background-color: orange;
}

.purple.flipped {
  background-color: purple;
}
