/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --off-white: #effffb;
  --green: #50d890;
  --blue: #4f98ca;
  --dark: #272727;
}

body {
  background-color: var(--off-white);
}

/* begin given styles */
/* #game div {
  border: 1px solid black;
  width: 15%;
  height: 200px;
  margin: 10px;
  display: inline-block;
} */
/* end given styles */

.cards-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 20%;
}

.card-container {
  width: 150px;
  height: 150px;
  margin: 10px;
  perspective: 1000px;
}

/* .card-container:hover .card {
  transform: rotateY(180deg);
} */

.card-container.flipped .card {
  transform: rotateY(180deg);
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-front {
  background-color: var(--green);
  color: white;
  text-align: center;
}

.card-back {
  background-color: var(--blue);
  color: var(--dark);
  transform: rotateY(180deg);
}

/*
.
.
.
.
.
.
.
.
.
*/
/* .red.flipped {
  background-color: red;
}

.blue.flipped {
  background-color: blue;
}

.green.flipped {
  background-color: green;
}

.orange.flipped {
  background-color: orange;
}

.purple.flipped {
  background-color: purple;
} */
